SERVER_PORT=8080

POSTGRES_DB=academic_platform
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_this_postgres_password
POSTGRES_HOST_PORT=5432

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=change_this_rabbitmq_password
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=change_this_rabbitmq_password

ACADEMIC_EVENTS_EXCHANGE=academic.events.exchange
ACADEMIC_EVENTS_QUEUE=academic.events.queue
ACADEMIC_RESOURCE_COMPLETED_ROUTING_KEY=academic.resource.completed

RECOMMENDATION_SERVICE_URL=http://recommendation-service:8000

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=postgres
KEYCLOAK_DB_PASSWORD=change_this_postgres_password
