WEB_GATEWAY_PORT=3000
ACADEMIC_SERVICE_URL=http://academic-service:8080
GATEWAY_CORS_ORIGIN=http://localhost:5173
REQUEST_TIMEOUT_MS=5000
NODE_ENV=development
KEYCLOAK_ISSUER_URI=http://localhost:8180/realms/academic-platform
KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/academic-platform/protocol/openid-connect/certs
